.container {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-section {
    padding: 20px 0px;
}

.header-logo img {
    width: 80px;
    padding: 10px;
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #000;
}